@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap');

:root{
    --primary-color: #ff403b;
    --seconds-color: #006843;
    --color-full: #ffc353;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.line--hours{
    background-color: var(--seconds-color);
    height: 20px;
}


.header{
    height: 100px;
    background-color: var(--color-full);
}
.logo img{
    width: 80px;
    height: 80px;
    display: block;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.menu--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--menu--ul{
    display: flex;
}

.nav--menu--ul li{
    margin-right: 10px;
}

.nav--menu--ul li a{
    padding: 10px;
    color: var(--primary-color);
    font-size: 18px;
}